# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-[0-9]+
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust:
    strategy:
      matrix:
        platform:
          - name: MacOS x86
            os: macos-latest
            key: ${{ github.ref }}-macos-x86
            target: x86_64-apple-darwin
          - name: MacOS ARM
            os: macos-latest
            key: ${{ github.ref }}-macos-arm
            target: aarch64-apple-darwin
          - name: Windows x86
            os: windows-latest
            key: ${{ github.ref }}-windows-x86
          - name: Linux x86
            os: ubuntu-latest
            key: ${{ github.ref }}-linux-x86
    name: Rust Lib (${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: bash
        working-directory: rust
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: rust
          sparse-checkout-cone-mode: false
      - uses: rui314/setup-mold@v1
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          target: ${{ matrix.platform.target }}
      - run: |
          cargo build --release \
            ${{ matrix.platform.target != '' && format('--target {0}', matrix.platform.target) || '' }}
      - run: gh cache delete ${{ matrix.platform.key }} || true
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/cache/save@v5
        id: cache
        with:
          path: rust/target/${{ matrix.platform.target != '' && format('{0}/', matrix.platform.target) || '' }}release
          key: ${{ matrix.platform.key }}
          enableCrossOsArchive: true
  macos-bruh:
    name: MacOS is Pain
    runs-on: macos-latest
    needs: rust
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: rust
          sparse-checkout-cone-mode: false
      - uses: actions/cache/restore@v5
        with:
          path: rust/target/x86_64-apple-darwin/release
          key: ${{ github.ref }}-macos-x86
          fail-on-cache-miss: true
      - uses: actions/cache/restore@v5
        with:
          path: rust/target/aarch64-apple-darwin/release
          key: ${{ github.ref }}-macos-arm
          fail-on-cache-miss: true
      - name: Patch
        run: |
          mkdir -p target/release
          cd target/release
          lipo -create -output libbited_rust.macos.dylib \
            ../x86_64-apple-darwin/release/libbited_rust.dylib \
            ../aarch64-apple-darwin/release/libbited_rust.dylib
      - run: gh cache delete "${{ github.ref }}-macos" || true
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/cache/save@v5
        id: cache
        with:
          path: rust/target/release
          key: ${{ github.ref }}-macos
          enableCrossOsArchive: true
  bump:
    needs: macos-bruh
    if: github.event_name != 'workflow_dispatch'
    name: Bump VERSION
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: app user id
        run: echo "user-id=$(gh api "/users/${{ steps.app.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        id: user-id
        env:
          GH_TOKEN: ${{ steps.app.outputs.token }}
      - name: creds
        run: |
          git config --global url.'https://x-access-token:${{ steps.app.outputs.token }}@github.com/'.insteadOf https://github.com/
          git config --global user.name '${{ steps.app.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.user-id.outputs.user-id }}+${{ steps.app.outputs.app-slug }}[bot]@users.noreply.github.com'
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app.outputs.token }}
          ref: ${{ github.event.repository.default_branch }}
          persist-credentials: false
      - name: bump
        run: printf "${GITHUB_REF_NAME#v}" > VERSION
      - name: push
        run: |
          git add Cargo.{toml,lock}
          git commit -m $'chore: bump version to ${{ github.ref_name }}\n\n\nskip-checks: true'
          git push
  release:
    needs: bump
    strategy:
      matrix:
        platform:
          - name: MacOS
            pkg: macos
            key: ${{ github.ref }}-macos
          - name: Windows
            pkg: windows
            key: ${{ github.ref }}-windows
          - name: Linux
            pkg: linux
            key: ${{ github.ref }}-linux
    name: Release (${{ matrix.platform.name }})
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.repository.default_branch }}
          lfs: true
      - uses: actions/cache/restore@v5
        with:
          path: rust/target/release
          key: ${{ github.ref }}-macos
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/libbited_rust.macos.dylib \
             godot/addons/bited-rust/bin/libbited_rust.macos.framework
      - uses: actions/cache/restore@v5
        with:
          path: rust/target/release
          key: ${{ github.ref }}-windows-x86
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/bited_rust.dll \
             godot/addons/bited-rust/bin/bited_rust.x86_64.dll
      - uses: actions/cache/restore@v5
        with:
          path: rust/target/release
          key: ${{ github.ref }}-linux-x86
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/libbited_rust.so \
             godot/addons/bited-rust/bin/libbited_rust.x86_64.so
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build
        run: nix build -L .#release-${{ matrix.platform.pkg }}
      - if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v6
        with:
          name: bited_${{ matrix.platform.pkg }}
          path: result/bited.zip
      - if: github.event_name != 'workflow_dispatch'
        name: Upload to Release
        uses: svenstaro/upload-release-action@v2
        with:
          file: result/bited.zip
          asset_name: bited_${{ matrix.platform.pkg }}_$tag.zip
