# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: release
on:
  push:
    tags: [v*]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  bump:
    if: github.event_name != 'workflow_dispatch'
    name: Bump VERSION
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - run: printf "%s" "${{ github.ref_name }}" | sed 's/^v//' > VERSION
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: VERSION
          commit_message: 'chore: bump version to ${{ github.ref_name }}'
  release:
    needs: bump
    strategy:
      matrix:
        platform:
          - name: MacOS
            pkg: macos
            key: ${{ github.ref }}-macos
          - name: Windows
            pkg: windows
            key: ${{ github.ref }}-windows
          - name: Linux
            pkg: linux
            key: ${{ github.ref }}-linux
    name: Release (${{ matrix.platform.name }})
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
          lfs: true
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build
        run: |
          printf "%s" "${{ github.ref_name }}" | sed 's/^v//' > VERSION
          nix build -L .#release-${{ matrix.platform.pkg }}
      - if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v6
        with:
          name: bited_${{ matrix.platform.pkg }}
          path: result/bited.zip
      - if: github.event_name != 'workflow_dispatch'
        name: Upload to Release
        uses: svenstaro/upload-release-action@v2
        with:
          file: result/bited.zip
          asset_name: bited_${{ matrix.platform.pkg }}_$tag.zip
