# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: rust
on:
  push:
    branches: [main]
    paths: [rust/**, godot/addons/bited-rust/**, .github/workflows/rust.yml]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust:
    strategy:
      matrix:
        platform:
          - name: MacOS x86
            os: macos-latest
            key: ${{ github.ref }}-macos-x86
            target: x86_64-apple-darwin
          - name: MacOS ARM
            os: macos-latest
            key: ${{ github.ref }}-macos-arm
            target: aarch64-apple-darwin
          - name: Windows x86
            os: windows-latest
            key: ${{ github.ref }}-windows-x86
          - name: Linux x86
            os: ubuntu-latest
            key: ${{ github.ref }}-linux-x86
    name: Rust Lib (${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: bash
        working-directory: rust
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: rust
          sparse-checkout-cone-mode: false
      - uses: rui314/setup-mold@v1
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          target: ${{ matrix.platform.target }}
      - run: |
          cargo build --release \
            ${{ matrix.platform.target != '' && format('--target {0}', matrix.platform.target) || '' }}
      - run: gh cache delete ${{ matrix.platform.key }} || true
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/cache/save@v4
        id: cache
        with:
          path: rust/target/${{ matrix.platform.target != '' && format('{0}/', matrix.platform.target) || '' }}release
          key: ${{ matrix.platform.key }}
          enableCrossOsArchive: true
  macos-bruh:
    name: MacOS is Pain
    runs-on: macos-latest
    needs: rust
    defaults:
      run:
        working-directory: rust
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: rust
          sparse-checkout-cone-mode: false
      - uses: actions/cache/restore@v4
        with:
          path: rust/target/x86_64-apple-darwin/release
          key: ${{ github.ref }}-macos-x86
          fail-on-cache-miss: true
      - uses: actions/cache/restore@v4
        with:
          path: rust/target/aarch64-apple-darwin/release
          key: ${{ github.ref }}-macos-arm
          fail-on-cache-miss: true
      - name: Patch
        run: |
          mkdir -p target/release
          cd target/release
          lipo -create -output libbited_rust.macos.dylib \
            ../x86_64-apple-darwin/release/libbited_rust.dylib \
            ../aarch64-apple-darwin/release/libbited_rust.dylib
      - run: gh cache delete "${{ github.ref }}-macos" || true
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: actions/cache/save@v4
        id: cache
        with:
          path: rust/target/release
          key: ${{ github.ref }}-macos
          enableCrossOsArchive: true
  combine:
    name: Combine Libs
    runs-on: ubuntu-latest
    needs: macos-bruh
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
          sparse-checkout: |
            godot/addons/bited-rust
          sparse-checkout-cone-mode: false
      - uses: actions/cache/restore@v4
        with:
          path: rust/target/release
          key: ${{ github.ref }}-macos
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/libbited_rust.macos.dylib \
             godot/addons/bited-rust/bin/libbited_rust.macos.framework
      - uses: actions/cache/restore@v4
        with:
          path: rust/target/release
          key: ${{ github.ref }}-windows-x86
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/bited_rust.dll \
             godot/addons/bited-rust/bin/bited_rust.x86_64.dll
      - uses: actions/cache/restore@v4
        with:
          path: rust/target/release
          key: ${{ github.ref }}-linux-x86
          fail-on-cache-miss: true
      - run: |
          mv rust/target/release/libbited_rust.so \
             godot/addons/bited-rust/bin/libbited_rust.x86_64.so
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore: auto-generate release rust libs'
          file_pattern: godot/addons/bited-rust
